* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #505d6a;
    background-color: #cad3d3; 
}
/* CONTENT */
.content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 115px 0;
}

.content .content__item {
    width: 362px;
    position: relative;
    background-color: white;
    margin: 75px 20px 0 20px;
}

/* CONTENT ITEM PRICE*/

.content__item--price {
    width: 7.625em;
    height: 7.625em;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.item__2 .content__item--price {
    background-color: #1c1d24;
}

.content__item--price .price {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
}

.content__item--price .tour {
    font-size: 16px;
}

.item__1  .price {
    color: #2196f7;
}

.item__2 .price {
    color: #a604ac;
}

.item__3 .price {
    color: #32ad1e;
}

/* CONTENT ITEM BRAND*/

.content__item--brand {
    position: relative;
}

.content__item--brand img {
    width: 100%;
}

.content__item--brand .brand {
    font-size: 36px;
    font-weight: 300;
    color: #f5f6f6;
    letter-spacing: 1.5px;
}

.content__item--brand .detail {
    margin-top: 10px;
    font-size: 14px;
    color: #f5f6f6;
    letter-spacing: 1px;
}

.content__item--title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.item__2 .detail {
    margin-top: 20px;
}

.item__2 .content__item--new {
    position: absolute;
    top: -2%;
    left: -2%;
    z-index: 10;
}

.item__2 .new {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

/* CONTENT ITEM INFO*/

.info__title {
    padding: 23px 15px;
}

.info__title .title {
    margin: 0;
    font-size: 24px;
    color: #7b8a94;
    font-weight: 300;
}

.info__title .description {
    font-size: 12px;
    color: #99a9b5;
}

.text {
    margin: 0;
    padding: 15.5px 10px;
    font-size: 16px;
    color: #5f727f;
}

.text:nth-child(odd) {
    background-color: #f4f6f7;
}
/* CONTENT ITEM BUTTON*/

.buytour{
    padding: 50px 97px;
}

.btnbuytour {
    width: 170px;
    height: 50px;
    background-color: transparent;
    font-size: 20px;
    transition: all 0.5s;
}

.btnbuytour:focus {
    outline: none;
}

.item__1 .btnbuytour {
    border: 1px solid #2196f7;
    color: #2196f7;
}

.item__1 .btnbuytour:hover {
    color: white;
    background-color:#2196f7;
    cursor: pointer;
}

.item__2 .btnbuytour {
    border: 1px solid #6c136f;
    color: #6c136f;
}

.item__2 .btnbuytour:hover {
    color: white;
    background-color:#6c136f;
    cursor: pointer;
}

.item__3 .btnbuytour {
    border: 1px solid #32ad1e;
    color: #32ad1e;
}

.item__3 .btnbuytour:hover {
    color: white;
    background-color:#32ad1e;
    cursor: pointer;
}
